fastapi==0.115.6
uvicorn[standard]==0.32.1
pydantic==2.10.3
pydantic-settings==2.6.1
SQLAlchemy==2.0.36
alembic==1.14.0
psycopg[binary]==3.2.3
GeoAlchemy2==0.16.0
python-dotenv==1.0.1
pytest==8.3.4
requests==2.32.3
httpx==0.28.1
cloudinary==1.41.0
python-multipart==0.0.20
pillow==11.0.0
